@model IEnumerable<CustomerClassLibrary.CustomerNote>

@{
    ViewBag.Title = "Notes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {customerId = Model.FirstOrDefault().CustomerId})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.NoteId)
        
        
            @Html.HiddenFor(modelItem => item.CustomerId)
        
        
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { noteId = item.NoteId }) |
            @Html.ActionLink("Details", "Details", new {noteId = item.NoteId}) |
            @Html.ActionLink("Delete", "Delete", new { noteId = item.NoteId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to customers", "../Customers/Index")
</div>
